body {
  font-family: sans-serif;
  font-size: 16px;
}

.dashboard-container{
  display: flex;
  justify-content: center;
  text-align: center
}

.tableauPlaceholder{
  position: relative
}

.img-viz{
  border: none
}

.tableauViz{
  display:none;
}